{% extends "remapp/base.html" %}
{% block navbar %}
            {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
            {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
            {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
            {% if request.user.userprofile.displayDX %}<li class="active"><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}


{% block mainblock %}		

<h1>Detail list of events</h1>

<ul>
    <li>Accession number: {{ generalstudymoduleattr.accession_number }}</li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }}</li>
    <li>Patient height and weight: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_size|floatformat:0 }} cm, {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.institution_name }}</li>
    <li>
        X-ray system:
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
        {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.station_name }}
    </li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
    <li>Number of events: {{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.total_number_of_radiographic_frames }}</li>
    <li>
        Total DAP:
        {{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2|floatformat:1 }}
        cGy.cm<sup>2</sup>
    </li>
</ul>

<table class="table table-striped table-bordered">
    <th>Time</th>
    <th>Protocol</th>
    <th>View</th>
    <th>kVp</th>
    <th>mAs</th>
    <th>mA</th>
    <th>Time<br>(ms)</th>
    <th>Filters<br>(mm)</th>
    <th>SID<br>(mm)</th>
    <th>Grid FD<br>(mm)</th>
    <th>Exposure Index<br>IEC</th>
    <th>Exposure Index<br>vendor</th>
    <th>DAP<br>(cGy.cm<sup>2</sup>)</th>
    <th>Control mode</th>
    <th>Comment</th>
    {% for event in generalstudymoduleattr.projectionxrayradiationdose_set.get.irradeventxraydata_set.all %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>{{ event.image_view }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_set.get.convert_uAs_to_mAs|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.average_xray_tube_current|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_time|floatformat:0 }}</td>
        <td>
            {% for xrayfilt in event.irradeventxraysourcedata_set.get.xrayfilters_set.all %}
                {% if xrayfilt.xray_filter_material.code_value == 'C-120F9' %}
                    Al: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% elif xrayfilt.xray_filter_material.code_value == 'C-127F9' %}
                    Cu: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% else %}
                    {{ xrayfilt.xray_filter_material.code_meaning }}: {{ xrayfilt.xray_filter_thickness_minimum }} - {{ xrayfilt.xray_filter_thickness_maximum }} <br>
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ event.irradeventxraymechanicaldata_set.get.doserelateddistancemeasurements_set.get.distance_source_to_detector|floatformat:0 }}</td>
        <td>
            {{ event.irradeventxraysourcedata_set.get.grid_focal_distance|floatformat:0 }}
        </td>
        <td>
            EI: {{ event.irradeventxraydetectordata_set.get.exposure_index|floatformat:1 }} <br>
            EI<sub>T</sub>: {{ event.irradeventxraydetectordata_set.get.target_exposure_index|floatformat:1 }} <br>
            DI: {{ event.irradeventxraydetectordata_set.get.deviation_index|floatformat:1 }}
        </td>
        <td>
            {{ event.irradeventxraydetectordata_set.get.relative_xray_exposure|floatformat:0 }}
            {{ event.irradeventxraydetectordata_set.get.relative_exposure_unit }}
        </td>
        <td>{{ event.convert_gym2_to_cgycm2|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_control_mode }}</td>
        <td>{{ event.comment }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}	
