{% extends "remapp/filteredbase.html" %}

{% block navbar %}
  {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
  {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
  {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
  {% if request.user.userprofile.displayDX %}<li class="active"><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}

{% block toprow %}
  {% load pagination_tags %}
  <p>
    There are {{ filter.count }} studies in this list.
  </p>

  {% if admin.exportperm or admin.adminperm %}
    <ul>
      <li><a href="/openrem/exportdxcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
      <li><a href="/openrem/exportdxxlsx1/?{{ request.GET.urlencode }}">Export to XLSX</a></li>
    </ul>
  {% else %}
    <p>
      Sorry, you don't have enough permissions to enable study export.
    </p>
  {% endif %}
{% endblock %}

{% block col2 %}


  {{ studyfilter }}

  <form action="" method="get" class="form-horizontal" role="form">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Exam filter</h3>
      </div>
      <div class="panel-body">
        <i>Date format yyyy-mm-dd</i>
        {% for field in filter.form.visible_fields %}
          <div class="form-group">
            <div class="col-xs-4">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-xs-8">
              {{ field.errors }}
              {{ field }}
            </div>
          </div>
        {% endfor %}
        {% for field in filter.form.hidden_fields %}
          <div style="display:none">{{ field }}</div>
        {% endfor %}
        <input name="submit" type="submit" />
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Chart options</h3>
      </div>
      <div class="panel-body">
        <table>
          {% csrf_token %}
          {{ chartOptionsForm }}
        </table>
        <input name="submit" type="submit" />

      </div>
    </div>
  </form>

  <script src="{{ STATIC_URL }}js/datepicker.js"></script>
  <script src="{{ STATIC_URL }}js/formatDate.js"></script>
  <script src="{{ STATIC_URL }}js/getColours.js"></script>

{% endblock %}

{% block col1 %}
  {% autopaginate filter.qs 50 as filter_list %}
  {% paginate %}

  <table class="table table-bordered table-hover row-clickable">
    <row>
      <th>Institution</th><th>Make | Model | Display name</th><th>Date</th><th>Protocol | Accession number</th><th>Number of events</th><th>Total DAP (cGy.cm<sup>2</sup>)</th>
      {% if admin.adminperm %}
        <th>Delete?</th>
      {% endif %}
    </row>
    {% for exam in filter_list %}
      <tr>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.institution_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer }} |
            {{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
            {{ exam.generalequipmentmoduleattr_set.get.unique_equipment_name.display_name }}
          </a>
        </td>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}
          </a>
        </td>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.procedure_code_meaning }} |
            {{ exam.accession_number }}
          </a>
        </td>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.total_number_of_radiographic_frames }}
          </a>
        </td>
        <td>
          <a href="/openrem/dx/{{ exam.id }}/">
            {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2 | floatformat:1 }}
          </a>
        </td>
        {% if admin.adminperm %}
          <td>
            <a href="{% url 'study_delete' exam.id %}">Delete</a>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>

  {% paginate %}

{% endblock %}

{% block plotdata %}
  {% if request.user.userprofile.plotCharts %}

    {% if request.user.userprofile.plotDXAcquisitionMeanDAP %}
      <!-- HTML to include div container for acquisition plot -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean DAP for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median DAP for each acquisition protocol.
                {% else %}
                Plot of mean and median DAP for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="container" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
              <p>Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin.
                Note that this will include acquisitions at the upper bin boundary, so in some cases may display
                more data than shown in the histogram bin.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div for acquisition plot -->
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionFreq %}
      <!-- HTML to include div container for acquisition pie chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseProtocolPieChart">
                Pie chart showing a breakdown of acquisition protocol frequency.
              </a>
            </h4>
          </div>
          <div id="collapseProtocolPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartProtocolDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for acquisition pie chart -->
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionMeankVp %}
      <!-- HTML to include div container for mean kVp per acquisition chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcquisitionMeankVpChart">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean kVp for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median kVp for each acquisition protocol.
                {% else %}
                Plot of mean and median kVp for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseAcquisitionMeankVpChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="chartAcquisitionMeankVp" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for mean kVp per acquisition chart -->
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionMeanmAs %}
      <!-- HTML to include div container for mean mAs per acquisition chart -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcquisitionMeanmAsChart">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Plot of mean mAs for each acquisition protocol.
                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                Plot of median mAs for each acquisition protocol.
                {% else %}
                Plot of mean and median mAs for each acquisition protocol.
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseAcquisitionMeanmAsChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="chartAcquisitionMeanmAs" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on an individual column to show a histogram of data for that acquisition protocol.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for mean mAs per acquisition chart -->
    {% endif %}

    {% if request.user.userprofile.plotDXStudyPerDayAndHour %}
      <!-- HTML to include div container for mean acquisition protocol DAP per week -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseStudyWorkloadPieChart">
                Pie chart showing a breakdown of number of studies per weekday.
              </a>
            </h4>
          </div>
          <div id="collapseStudyWorkloadPieChart" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="piechartStudyWorkloadDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on a segment to be taken to a pie chart showing the breakdown per hour for that weekday.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for studies per week day pie chart -->
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionMeanDAPOverTime %}
      <!-- HTML to include div container for mean acquisition protocol DAP per week -->
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseAcquisitionMeanDAPOverTime">
                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                Line plot showing mean DAP of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                {% else %}
                Line plot showing median DAP of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                {% endif %}
              </a>
            </h4>
          </div>
          <div id="collapseAcquisitionMeanDAPOverTime" class="panel-collapse collapse">
            <div class="panel-body">
              <div id="AcquisitionMeanDAPOverTimeDIV" style="width: 95%; height: 600px; margin: 0 0"></div>
              <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of HTML to include div container for mean acquisition protocol DAP per week -->
    {% endif %}

    <!-- Include JavaScript to enable highcharts plots -->
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/exporting.js"></script>
    <script src="{{ STATIC_URL }}js/export-csv.js"></script>
    <script src="{{ STATIC_URL }}js/drilldown.js"></script>
    <!-- End of include JavaScript for the plots -->


    <!-- JavaScript function to sort a list of objects by the 'y' or 'name' object. -->
    <script src="{{ STATIC_URL }}js/sorting.js"></script>
    <!-- End of JavaScript function to sort a list of objects by the 'y' or 'name' object -->


    {% if request.user.userprofile.plotDXAcquisitionMeanDAP or request.user.userprofile.plotDXAcquisitionFreq or request.user.userprofile.plotDXAcquisitionMeanDAPOverTime %}
      <!-- JavaScript for acquisition plot that is also required by some other plots -->
      <script>
        var protocolNames     = [
          {% for name in acquisition_names %}
            "{{name.acquisition_protocol}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotDXAcquisitionMeanDAP or request.user.userprofile.plotDXAcquisitionFreq %}
        var seriesDataN       = [
          {% for testData in acquisitionSummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
      </script>
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionMeanDAP %}
      <!-- JavaScript for acquisition plot -->
      <script>
        var protocolCounts    = [
          {% for protocol in acquisitionHistogramData %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolBins      = [
          {% for protocolEdges in acquisitionHistogramData %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesData        = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.mean_dap}}*1000000,drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesMedianData        = [
          {% for testData in acquisitionSummary %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],y: {{testData.median_dap}}/10000,drilldown:protocolNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        var seriesDrilldown   = [
          {% for protocolCountsArray in acquisitionHistogramData %}
            {id: protocolNames[{{forloop.counter}}-1],name: protocolNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFilters = '{% for field in filter.form %}{% if field.name != 'acquisition_dap_min' and field.name != 'acquisition_dap_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/dxChartDAPperAcquisitionMeanAndMedian.js"></script>
      {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/dxChartDAPperAcquisitionMean.js"></script>
      {% else %}
          <script src="{{ STATIC_URL }}js/dxChartDAPperAcquisitionMedian.js"></script>
      {% endif %}
      <!-- End of JavaScript for acquisition plot -->
    {% endif %}


    {% if request.user.userprofile.plotDXAcquisitionFreq or request.user.userprofile.plotDXAcquisitionMeanDAPOverTime %}
      <!-- JavaScript for acquisition pie chart. protocolColours also needed by plot of DAP over time -->
      <script>
        var urlStart = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';
        var protocolPiechartData = new Array(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          {% if request.user.userprofile.plotDXAcquisitionFreq %}
          protocolPiechartData[i] = {name:protocolNames[i], y:parseInt(seriesDataN[i]), url:urlStart+protocolNames[i]};
          {% else %}
          protocolPiechartData[i] = {name:protocolNames[i], y:parseInt(i), url:urlStart+protocolNames[i]};
          {% endif %}
        }

        {% if request.user.userprofile.plotDXAcquisitionFreq %}
        protocolPiechartData.sort(sort_by_y);
        {% endif %}

        protocolColours = getColours(protocolNames.length);
        for(var i=0; i<protocolNames.length; i++) {
          protocolPiechartData[i].color = protocolColours[i];
        }
      </script>
    {% endif %}

    {% if request.user.userprofile.plotDXAcquisitionFreq %}
      <script src="{{ STATIC_URL }}js/dxChartAcquisitionFrequency.js"></script>
      <!-- End of JavaScript for acquisition pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotDXAcquisitionMeankVp %}
      <!-- JavaScript for acquisition mean kVp plot -->
      <script>
        var protocolkVpNames     = [
          {% for name in acquisitionkVpSummary %}
            "{{name.acquisition_protocol}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var serieskVpDataN       = [
          {% for testData in acquisitionkVpSummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolkVpCounts    = [
          {% for protocol in acquisitionHistogramkVpData %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolkVpBins      = [
          {% for protocolEdges in acquisitionHistogramkVpData %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var serieskVpData        = [
          {% for testData in acquisitionkVpSummary %}
            {{'{'}}name:protocolkVpNames[{{forloop.counter}}-1],y: {{testData.mean_kVp}},drilldown:protocolkVpNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesMediankVpData        = [
          {% for testData in acquisitionkVpSummary %}
            {{'{'}}name:protocolkVpNames[{{forloop.counter}}-1],y: {{testData.median_kVp}}/10000000000,drilldown:protocolkVpNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}

        var serieskVpDrilldown   = [
          {% for protocolCountsArray in acquisitionHistogramkVpData %}
            {id: protocolkVpNames[{{forloop.counter}}-1],name: protocolkVpNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolkVpBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolkVpBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFilterskVp = '{% for field in filter.form %}{% if field.name != 'acquisition_kvp_min' and field.name != 'acquisition_kvp_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/dxChartkVpPerAcquisitionMeanAndMedian.js"></script>
      {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/dxChartkVpPerAcquisitionMean.js"></script>
      {% else %}
          <script src="{{ STATIC_URL }}js/dxChartkVpPerAcquisitionMedian.js"></script>
      {% endif %}
      <!-- End of JavaScript for acquisition mean kVp plot -->
    {% endif %}


    {% if request.user.userprofile.plotDXAcquisitionMeanmAs %}
      <!-- JavaScript for acquisition mean mAs plot -->
      <script>
        var protocolmAsNames     = [
          {% for name in acquisitionuAsSummary %}
            "{{name.acquisition_protocol}}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var seriesmAsDataN       = [
          {% for testData in acquisitionuAsSummary %}
            '{{testData.num_acq}}'
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolmAsCounts    = [
          {% for protocol in acquisitionHistogramuAsData %}
            [
              {% for dataCounts in protocol.0 %}
                {{dataCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        var protocolmAsBins      = [
          {% for protocolEdges in acquisitionHistogramuAsData %}
            [
              {% for edges in protocolEdges.1 %}
                {{edges}}/1000
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% if request.user.userprofile.plotAverageChoice == 'mean' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesmAsData        = [
          {% for testData in acquisitionuAsSummary %}
            {{'{'}}name:protocolmAsNames[{{forloop.counter}}-1],y: {{testData.mean_uAs}}/1000,drilldown:protocolmAsNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
        {% if request.user.userprofile.plotAverageChoice == 'median' or request.user.userprofile.plotAverageChoice == 'both' %}
        var seriesMedianmAsData        = [
          {% for testData in acquisitionuAsSummary %}
            {{'{'}}name:protocolmAsNames[{{forloop.counter}}-1],y: {{testData.median_uAs}}/10000000000000,drilldown:protocolmAsNames[{{forloop.counter}}-1]{{'}'}}
                  {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}

        var seriesmAsDrilldown   = [
          {% for protocolCountsArray in acquisitionHistogramuAsData %}
            {id: protocolmAsNames[{{forloop.counter}}-1],name: protocolmAsNames[{{forloop.counter}}-1],useHTML: true,data: [
              {% for dataCounts in protocolCountsArray.0 %}
                [protocolmAsBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1].toFixed(1).toString() + ' \u2264 x {% if not forloop.last %}<{% else %}\u2264{% endif %} ' + protocolmAsBins[{{forloop.parentloop.counter}}-1][{{forloop.counter}}].toFixed(1).toString(),{{dataCounts}}]
                {% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var tooltipFiltersmAs = '{% for field in filter.form %}{% if field.name != 'acquisition_mas_min' and field.name != 'acquisition_mas_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'both' %}
          <script src="{{ STATIC_URL }}js/dxChartmAsPerAcquisitionMeanAndMedian.js"></script>
      {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
          <script src="{{ STATIC_URL }}js/dxChartmAsPerAcquisitionMean.js"></script>
      {% else %}
          <script src="{{ STATIC_URL }}js/dxChartmAsPerAcquisitionMedian.js"></script>
      {% endif %}
      <!-- End of JavaScript for acquisition mean mAs plot -->
    {% endif %}


    {% if request.user.userprofile.plotDXStudyPerDayAndHour %}
      <!-- JavaScript for studies per weekday pie chart with drilldown to hourly breakdown -->
      <script>
        var dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

        var studiesPerHourEachWeekday = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            [
              {% for hourCounts in dayCounts %}
                {{hourCounts}}
                {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var studiesPerWeekday = new Array(7);
        for(var i=0; i<7; i++) {
          var tempTotal = 0;
          for(var j=0; j<24; j++) {
            tempTotal = tempTotal + studiesPerHourEachWeekday[i][j];
          }
          studiesPerWeekday[i] = tempTotal;
        }

        var hourColours = getColours(24);
        var seriesDrillDownPieChart   = [
          {% for dayCounts in studiesPerHourInWeekdays %}
            {id:dayNames[{{forloop.counter}}-1], name:dayNames[{{forloop.counter}}-1], useHTML:true, type:'pie', data: [
              {% for hourCounts in dayCounts %}
                {{'{'}}name:'{{forloop.counter|add:"-1"|stringformat:"02d"}}:00', y:studiesPerHourEachWeekday[{{forloop.parentloop.counter}}-1][{{forloop.counter}}-1],color:hourColours[{{forloop.counter}}]{{'}'}}{% if not forloop.last %},{% endif %}
              {% endfor %}]}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];

        var dayColours = getColours(7);
        var studyWorkloadPieChartData= new Array(7);
        for(var i=0; i<7; i++) {
          studyWorkloadPieChartData[i] = {name:dayNames[i], y:studiesPerWeekday[i], color:dayColours[i], drilldown:dayNames[i]};
        }
      </script>

      <script src="{{ STATIC_URL }}js/dxChartStudyWorkload.js"></script>
      <!-- End of JavaScript for studies per week day pie chart -->
    {% endif %}


    {% if request.user.userprofile.plotDXAcquisitionMeanDAPOverTime %}
      <!-- JavaScript for mean DAP per acquisition protocol per time period -->
      <script>
        dateAxis = [
        {% if request.user.userprofile.plotAverageChoice == 'mean' %}
          {% for dateEntries in acquisitionMeanDAPoverTime.0 %}
            "{{ dateEntries.0.date|date:"d/m/Y" }}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% else %}
          {% for dateEntries in acquisitionMedianDAPoverTime.0 %}
            "{{ dateEntries.0.date|date:"d/m/Y" }}"
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
        ];

        // Create the same colours as for the study pie chart, so that the colours
        // are the same for the studies in the pie chart and this plot.
        var protocolLineColours =  new Array(protocolNames.length);
        protocolPiechartData.sort(sort_by_name);
        for(var i=0; i<protocolNames.length; i++) {
          protocolLineColours[i] = protocolPiechartData[i].color;
        }
        protocolPiechartData.sort(sort_by_y);

        var urlStart = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'date_before' and field.name != 'date_after' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';

        {% if request.user.userprofile.plotAverageChoice == 'mean' %}
        meanDAPOverTime = [
          {% for protocolData in acquisitionMeanDAPoverTime %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],
                  color:protocolLineColours[{{forloop.counter}}-1],
                  marker:{{'{'}}enabled:true{{'}'}},
                  point: {{'{'}}
            events: {{'{'}}
                    click: function(e) {{'{'}}
            location.href = e.point.url;
            e.preventDefault();
            {{'}'}}
            {{'}'}}
            {{'}'}},
            data:[
              {% for dateEntries in protocolData %}
                {{'{'}}y:{% if dateEntries.1 %}{{ dateEntries.1 }}*1000000{% else %}null{% endif %},url:urlStart+protocolNames[{{forloop.parentloop.counter}}-1]+'&date_after='+formatDate(new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}}))+'&date_before='+ formatDate(new Date((new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setMonth((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getMonth()+1))).setDate((new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setMonth((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getMonth()+1))).getDate()-1))){{'}'}}
                      {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]{{'}'}}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% else %}
        medianDAPOverTime = [
          {% for protocolData in acquisitionMedianDAPoverTime %}
            {{'{'}}name:protocolNames[{{forloop.counter}}-1],
                  color:protocolLineColours[{{forloop.counter}}-1],
                  marker:{{'{'}}enabled:true{{'}'}},
                  point: {{'{'}}
            events: {{'{'}}
                    click: function(e) {{'{'}}
            location.href = e.point.url;
            e.preventDefault();
            {{'}'}}
            {{'}'}}
            {{'}'}},
            data:[
              {% for dateEntries in protocolData %}
                {{'{'}}y:{% if dateEntries.1 %}{{ dateEntries.1 }}/10000{% else %}null{% endif %},url:urlStart+protocolNames[{{forloop.parentloop.counter}}-1]+'&date_after='+formatDate(new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}}))+'&date_before='+ formatDate(new Date((new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setMonth((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getMonth()+1))).setDate((new Date ((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).setMonth((new Date({{dateEntries.0.year}},{{dateEntries.0.month}}-1,{{dateEntries.0.day}})).getMonth()+1))).getDate()-1))){{'}'}}
                      {% if not forloop.last %},{% endif %}
              {% endfor %}
            ]{{'}'}}
            {% if not forloop.last %},{% endif %}
          {% endfor %}
        ];
        {% endif %}
      </script>

      {% if request.user.userprofile.plotAverageChoice == 'mean' %}
      <script src="{{ STATIC_URL }}js/dxChartMeanDAPperAcquisitionOverTime.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}js/dxChartMedianDAPperAcquisitionOverTime.js"></script>
      {% endif %}
      <!-- End of JavaScript for mean DAP per acquisition protocol per time period -->
    {% endif %}


  {% endif %}
{% endblock %}
