{% extends "remapp/filteredbase.html" %}

{% block navbar %}
            {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
            {% if request.user.userprofile.displayRF %}<li><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
            {% if request.user.userprofile.displayMG %}<li class="active"><a href="/openrem/mg">Mammography</a></li>{% endif %}
            {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}

{% block toprow %}
      {% load pagination_tags %}    
      <p>
        There are {{ filter.count }} studies in this list.
      </p>
        {% if admin.exportperm or admin.adminperm %}
        <ul>
          <li><a href="/openrem/exportmgcsv1/?{{ request.GET.urlencode }}">Export to CSV</a> </li>
          <li><a href="/openrem/exportmgnhsbsp/?{{ request.GET.urlencode }}">Export to CSV using the NHSBSP format</a> </li>
        </ul>
        {% else %}
        <p>
          Sorry, you don't have enough permissions to enable study export.
        </p>
        {% endif %}
{% endblock %}



{% block col2 %}


    {{ studyfilter }}

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Exam filter</h3>
            </div>
            <div class="panel-body">
                <i>Date format yyyy-mm-dd</i>
                <form action="" method="get" class="form-horizontal" role="form">
                        {% for field in filter.form %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>{{ field.label_tag }}</label>
                                </div>
                                <div class="col-xs-8">
                                  {{ field.errors }}
                                  {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                    </table>
                    <input type="submit" />
                </form> 
            </div>
          </div>
    
<script>
$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true,
    todayHighlight: true
    });
</script>

{% endblock %}

{% block col1 %}

    {% autopaginate filter.qs 50 as filter_list %}
    {% paginate %}

    <table class="table table-bordered table-hover row-clickable">
        <tr>
            <th>Institution</th><th>Make | Model | Display name</th><th>Date</th><th>Protocol | Accession number</th><th>Number of events</th><th>Laterality</th><th>Accumulated AGD (mGy)</th>
            {% if admin.adminperm %}
            <th>Delete?</th>
            {% endif %}
        </tr>
        {% for exam in filter_list %}
        <tr>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.generalequipmentmoduleattr_set.get.institution_name }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.generalequipmentmoduleattr_set.get.manufacturer }} |
                    {{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
                    {{ exam.generalequipmentmoduleattr_set.get.unique_equipment_name.display_name }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.procedure_code_meaning }} |
                    {{ exam.accession_number }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.projectionxrayradiationdose_set.get.irradeventxraydata_set.count }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.get.laterality }}
                </a>
            </td>
            <td>
                <a href="/openrem/mg/{{ exam.id }}/">
                    {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.get.accumulated_average_glandular_dose }}
                </a>
            </td>
            {% if admin.adminperm %}
            <td>
              <a href="{% url 'study_delete' exam.id %}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

    {% paginate %}

 
{% endblock %}
