{% extends "remapp/base.html" %}

{% block navbar %}
            {% if request.user.userprofile.displayCT %}<li><a href="/openrem/ct">CT</a></li>{% endif %}
            {% if request.user.userprofile.displayRF %}<li class="active"><a href="/openrem/rf">Fluoroscopy</a></li>{% endif %}
            {% if request.user.userprofile.displayMG %}<li><a href="/openrem/mg">Mammography</a></li>{% endif %}
            {% if request.user.userprofile.displayDX %}<li><a href="/openrem/dx">Radiography</a></li>{% endif %}
{% endblock %}

{% block mainblock %}
    <div class="row">
        <div class="col-md-5">
            <h1>Detail list of events</h1>

            <ul>
                <li>Accession number: {{ generalstudymoduleattr.accession_number }}</li>
                <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
                <li>Study time: {{ generalstudymoduleattr.study_time }}</li>
                <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
                <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
                <li>Patient age: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_age_decimal|floatformat:1 }}</li>
                <li>Patient weight: {{ generalstudymoduleattr.patientstudymoduleattr_set.get.patient_weight|floatformat:1 }} kg</li>
                <li>
                    Total DAP:
                    {{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2|floatformat:1 }}
                    cGy.cm2
                </li>
                <li>Total dose at RP: {{ generalstudymoduleattr.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumprojxraydose_set.get.dose_rp_total|floatformat:6 }} Gy</li>
                <li>Hospital: {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.institution_name }}</li>
                <li>
                    Scanner:
                    {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer }} |
                    {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
                    {{ generalstudymoduleattr.generalequipmentmoduleattr_set.get.station_name }}
                </li>
                <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
                <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
            </ul>
        </div>
        <div class="col-md-7">
            <h2>OpenSkin radiation exposure incidence map</h2>
            <p>
                You can export this study to a csv file in the format required by Jonathan
                Cole's OpenSkin software. The OpenSkin software can be downloaded from the
                <a href="https://bitbucket.org/jacole/openskin/downloads">OpenSkin BitBucket project</a> and there is
                more information available in the
                <a href="http://docs.openrem.org/en/latest/openskin.html">OpenREM documentation</a>. Future releases of
                OpenREM will display the exposure incidence map and peak skin dose values integrated into this page.
            </p>
            <h4>
                Create <a href="/openrem/exportrfopenskin/{{ generalstudymoduleattr.id }}">OpenSkin export</a>
            </h4>
        </div>
  </div>

<table class="table table-striped table-bordered">
    <th>Time</th><th>Acquisition protocol</th><th>DAP (cGy.cm<sup>2</sup>)</th><th>Exposure time</th><th>kVp</th><th>mA</th><th>Angle</th><th>II Diameter</th>
    {% for event in generalstudymoduleattr.projectionxrayradiationdose_set.get.irradeventxraydata_set.all %}
    <tr>
        <td>{{ event.date_time_started|time:"H:i.s" }}</td>
        <td>{{ event.acquisition_protocol }}</td>
        <td>{{ event.convert_gym2_to_cgycm2|floatformat:3 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.exposure_time|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.kvp_set.get.kvp|floatformat:0 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.xraytubecurrent_set.get.xray_tube_current|floatformat:1 }}</td>
        <td>{{ event.irradeventxraymechanicaldata_set.get.positioner_primary_angle|floatformat:1 }}</td>
        <td>{{ event.irradeventxraysourcedata_set.get.ii_field_size }}</td>
    </tr>
    {% endfor %}
</table>

<a href="../list">Back to list</a>

{% if is_paginated %}
<p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
    {% endif %}
</p>
{% endif %}

{% endblock %}	
